<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.kueres">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <service android:name="com.kueres.NotificationService" android:enabled="true" android:exported="false" />
        <service android:name="com.kueres.NotificationEventService" />
        <receiver
            android:name="com.kueres.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
